<footer class="text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="card-title">Title</span>
                <p>Lorem ipsum</p>
            </div>
            <div class="col">
                <span class="card-title">Title</span>
                <p>Lorem ipsum</p>
            </div>
            <div class="col">
                <span class="card-title">Title</span>
                <p>Lorem ipsum</p>
            </div>
        </div>
        <div class="row footer-row justify-content-center">
            <a href="https://tolgaozgun.com">Copyright © Tolga Özgün @ tolgaozgun.com</a>
        </div>
        <div class="row footer-row justify-content-center">
            <a href="https://facebook.com"><i class="social fab fa-facebook-f"></i></a>
            <a href="https://instagram.com"><i class="social fab fa-instagram"></i></a>
            <a href="https://linkedin.com"><i class="social fab fa-linkedin-in"></i></a>
            <a href="https://github.com"><i class="social fab fa-github"></i></a>
            <a href="https://google.com"><i class="social fab fa-google"></i></a>
        </div>
    </div>
</footer>