@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.navbar{
    border-bottom: 1px solid #dee2e6;
}


#sidebar .sidebar-header {
    padding: 20px;
	text-align: center;
}

#sidebar .row{
    background: #6d7fcc;
}


#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li i{
    padding-right:10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.no-padding {
    padding: 0;
}

.content {
    padding:1em
}

.nav-right{
    margin:auto;
    padding-right: 1em;
}

.nav-item{
    padding: 0.5em;
}


.navbar .profile-dropdown.show{
    background: #d2dcde;
    transition: all 0.3s;
}

.navbar > ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: inherit;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.product-card{
    max-width: 300px;
    max-height: 500px;
    padding: 1em;
}

.product-title {
    font-size: 1.2rem;
    font-weight:bold;
}

.product-price{
    font-size: 1.5rem;
}

.product-img{
    max-width: 300px;
    max-height: 300px;
}

th,
td {
    vertical-align: middle !important;
}

.photo-card{
    padding:0.5em;
    background: #d2dcde;
}

footer{
    background: #d2dcde;
    padding: 2em;
}

.footer-row{
    padding: 0.5em;
}

i.social{
    margin: 0.5em;
}

i.social{
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.right-wrapper{
    width: 100%
}

.content-wrapper{
        padding: 20px;
    background: #f4f6f9;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}