{% extends 'panel/base/panel_base_index.html' %}


{% block content %}
    <div class="authentication-wrapper">
        <div class="container">
            <nav class="mt-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'panel:dashboard' %}">Control Panel</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Blog Post</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                    <div class="card col-md-8">
                        <form class="active" method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.title.errors }}
                                <label for="{{ form.title.id_for_label }}">Title</label>
                                {{ form.title }}
                            </div>
                            <div class="form-group">
                                {{ form.slug.errors }}
                                <label for="{{ form.slug.id_for_label }}">Slug</label>
                                {{ form.slug }}
                            </div>
                            <div class="form-group">
                                {{ form.description.errors }}
                                <label for="{{ form.description.id_for_label }}">Description</label>
                                {{ form.description }}
                            </div>
                            <div class="form-row form-group">
                                {{ form.text.errors }}
                                <label for="{{ form.text.id_for_label }}">Content</label>
                                {{ form.text }}
                            </div>
                            <div class="form-group">
                                {{ form.image.errors }}
                                <label for="{{ form.image.id_for_label }}">Image</label>
                                {{ form.image }}
                            </div>
                            <div class="form-group">
                                {{ form.captcha.errors }}
                                <label for="{{ form.captcha.id_for_label }}">Captcha</label>
                                {{ form.captcha }}
                            </div>
                            <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Add Post</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}