<footer class="text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="footer-card-title">Who we are</span>
                <p class="footer-card-text">We are an advanced clinic that is looking forward to accept new challenges and technologies with
                    years to come. You can absolutely trust us with your health. </p>
            </div>
            <div class="col">
                <span class="footer-card-title">Navigation</span><br>
                <a class="footer-card-text" href="{% url 'base:index' %}">Home</a><br>
                <a class="footer-card-text" href="{% url 'panel:dashboard' %}">Control Panel</a><br>
                <a class="footer-card-text" href="{% url 'blog' %}">Blog</a><br>
            </div>
            <div class="col">
                <span class="footer-card-title">Working Hours</span>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Days</th>
                            <th scope="col">Hours</th>
                        </tr>
                        <tr>
                            <th scope="row">Monday</th>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <th scope="row">Tuesday</th>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <th scope="row">Wednesday</th>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <th scope="row">Thursday</th>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <th scope="row">Friday</th>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <th scope="row">Saturday</th>
                            <td>8am - 12pm</td>
                        </tr>
                        <tr>
                            <th scope="row">Sunday</th>
                            <td>Off day</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row footer-row justify-content-center">
            <a href="https://tolgaozgun.com">Copyright © Tolga Özgün @ tolgaozgun.com</a>
        </div>
        <div class="row footer-row justify-content-center">
            <a href="https://facebook.com"><i class="social fab fa-facebook-f"></i></a>
            <a href="https://instagram.com"><i class="social fab fa-instagram"></i></a>
            <a href="https://linkedin.com"><i class="social fab fa-linkedin-in"></i></a>
            <a href="https://github.com"><i class="social fab fa-github"></i></a>
            <a href="https://google.com"><i class="social fab fa-google"></i></a>
        </div>
    </div>
</footer>