{% extends 'panel/base/panel_base_index.html' %}


{% block content %}
    <div class="authentication-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                    <div class="card col-md-8">
                        <form class="active" method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.name.errors }}
                                <label for="{{ form.name.id_for_label }}">Name</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                {{ form.slug.errors }}
                                <label for="{{ form.slug.id_for_label }}">Slug</label>
                                {{ form.slug }}
                            </div>
                            <div class="form-group">
                                {{ form.description.errors }}
                                <label for="{{ form.description.id_for_label }}">Description</label>
                                {{ form.description }}
                            </div>
                            <div class="form-group">
                                {{ form.price.errors }}
                                <label for="{{ form.price.id_for_label }}">Price</label>
                                {{ form.price }}
                            </div>
{#                            <div class="form-group">#}
{#                                {{ form.coverImage.errors }}#}
{#                                <label for="{{ form.coverImage.id_for_label }}">Cover Image</label>#}
{#                                {{ form.coverImage }}#}
{#                            </div>#}
                            <div class="form-group">
                                {{ form.images.errors }}
                                <label for="{{ form.images.id_for_label }}">Images</label>
                                {{ form.images }}
                            </div>
                            <div class="form-group">
                                {{ form.captcha.errors }}
                                <label for="{{ form.captcha.id_for_label }}">Captcha</label>
                                {{ form.captcha }}
                            </div>
                            <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Register</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}