{% extends 'panel/base/panel_base_index.html' %}


{% block content %}
    <div class="authentication-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                    <div class="card col-md-8">
                        <form class="active" method="POST" action="">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.first_name.errors }}
                                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                                    {{ form.first_name }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.last_name.errors }}
                                    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.email.errors }}
                                <label for="{{ form.email.id_for_label }}">Email Address</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                {{ form.confirmEmail.errors }}
                                <label for="{{ form.confirmEmail.id_for_label }}">Confirm Email Address</label>
                                {{ form.confirmEmail }}
                            </div>
                            <div class="form-group">
                                {{ form.phone.errors }}
                                <label for="{{ form.phone.id_for_label }}">Phone Number</label>
                                {{ form.phone }}
                            </div>
                            <div class="form-row form-group">
                                {{ form.password.errors }}
                                <label for="{{ form.password.id_for_label }}">Password</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                {{ form.confirmPassword.errors }}
                                <label for="{{ form.confirmPassword.id_for_label }}">Confirm Password</label>
                                {{ form.confirmPassword }}
                            </div>
                            <div class="form-group">
                                {{ form.captcha.errors }}
                                <label for="{{ form.captcha.id_for_label }}">Captcha</label>
                                {{ form.captcha }}
                            </div>
                            <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Register</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}