{% extends 'panel/base/panel_base_index.html' %}

{% block title %}
<title>Appointments - Clinicare</title>
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <section class="container-header">
                <h2>Appointments</h2>
            </section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Appointment List</h3>
                            <div class="card-tools">
                                <button class="btn btn-primary" data-toggle="collapse" href="#filter">
                                    <i class="fa fa-filter"></i> Filter
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Doctor</th>
                                        <th scope="col">Patient</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for appointment in appointments %}
                                    <tr>
                                        <th scope="row">{{ appointment.id }}</th>
                                        <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
                                        <td>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</td>
                                        <td>{{ appointment.dateCreated }}</td>
                                        <td>
                                            <a href="{% url 'appointment' pk=prescription.id%}" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="View">
                                                <i class="fa fa-eye ambitious-padding-btn"></i>
                                            </a>
                                            <a href="{% url 'edit_appointment' pk=prescription.id %}" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="Edit">
                                                <i class="fa fa-pencil ambitious-padding-btn"></i>
                                            </a>
                                            <a href="{% url 'delete_appointment' pk=prescription.id %}" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="Delete">
                                                <i class="fa fa-trash ambitious-padding-btn"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
{% endblock %}