{% extends 'panel/base/panel_base_index.html' %}

{% block title %}
<title>Prescriptions - Tolga's Clinic</title>
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <section class="container-header">
                <h2>Prescriptions</h2>
            </section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Prescription List</h3>
                            <div class="card-tools">
                                <button class="btn btn-primary" data-toggle="collapse" href="#filter">
                                    <i class="fa fa-filter"></i> Filter
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Doctor</th>
                                        <th scope="col">Patient</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for prescription in prescriptions %}
                                    <tr>
                                        <th scope="row">{{ prescription.id }}</th>
                                        <td>{{ prescription.doctor.name }} {{ prescription.doctor.surname }}</td>
                                        <td>{{ prescription.patient.name }} {{ prescription.patient.surname }}</td>
                                        <td>{{ prescription.dateCreated }}</td>
                                        <td>
                                            <a href="{% url 'prescription' pk=prescription.id%}" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="View">
                                                <i class="fa fa-eye ambitious-padding-btn"></i>
                                            </a>
                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="Edit">
                                                <i class="fa fa-pencil ambitious-padding-btn"></i>
                                            </a>
                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="Delete">
                                                <i class="fa fa-trash ambitious-padding-btn"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
{#                                    <tr>#}
{#                                        <th scope="row">2</th>#}
{#                                        <td>Dr. Mark</td>#}
{#                                        <td>Charles Leclerc</td>#}
{#                                        <td>1 Aug 2022</td>#}
{#                                        <td>#}
{#                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="View">#}
{#                                                <i class="fa fa-eye ambitious-padding-btn"></i>#}
{#                                            </a>#}
{#                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="Edit">#}
{#                                                <i class="fa fa-pencil ambitious-padding-btn"></i>#}
{#                                            </a>#}
{#                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="Delete">#}
{#                                                <i class="fa fa-trash ambitious-padding-btn"></i>#}
{#                                            </a>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <th scope="row">3</th>#}
{#                                        <td>Dr. Mark</td>#}
{#                                        <td>Charles Leclerc</td>#}
{#                                        <td>1 Aug 2022</td>#}
{#                                        <td>#}
{#                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="View">#}
{#                                                <i class="fa fa-eye ambitious-padding-btn"></i>#}
{#                                            </a>#}
{#                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="Edit">#}
{#                                                <i class="fa fa-pencil ambitious-padding-btn"></i>#}
{#                                            </a>#}
{#                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="Delete">#}
{#                                                <i class="fa fa-trash ambitious-padding-btn"></i>#}
{#                                            </a>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <th scope="row">4</th>#}
{#                                        <td>Dr. Mark</td>#}
{#                                        <td>Charles Leclerc</td>#}
{#                                        <td>1 Aug 2022</td>#}
{#                                        <td>#}
{#                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="View">#}
{#                                                <i class="fa fa-eye ambitious-padding-btn"></i>#}
{#                                            </a>#}
{#                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="Edit">#}
{#                                                <i class="fa fa-pencil ambitious-padding-btn"></i>#}
{#                                            </a>#}
{#                                            <a href="#" class="btn btn-info btn-outline btn-circle btn-lg" data-toggle="tooltip" title="Delete">#}
{#                                                <i class="fa fa-trash ambitious-padding-btn"></i>#}
{#                                            </a>#}
{#                                        </td>#}
{#                                    </tr>#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
{% endblock %}