<nav id="sidebar">
			<div class="container">
				<div class="row">
					<div class="col-9 sidebar-header">
				 		<h3>Sidebar Header</h3>
					</div>
					<div class="col sidebar-header sidebar-toggle">
						<i class="fa-solid fa-chevron-left"></i>
					</div>
				</div>
			</div>
	<ul class="list-unstyled components">
		<p>Dummy Heading</p>
		<li class="{% if current_page == "home" %} active {% endif %}">

			<a href="{%url 'panel'%}dashboard"><i class="fa-solid fa-gauge"></i>Dashboard</a>
		</li>
		<li class="{% if current_page == "doctors" or current_page == "view_doctor" or current_page == "add_doctor" or current_page == "edit_doctor" %} active {% endif %}">
			<a href="#doctorsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-user-doctor"></i>Doctors</a>
			<ul class="collapse list-unstyled" id="doctorsSubmenu">
				<li>
					<a href="{% url 'doctors' %}">Doctors List</a>
				</li>
				<li>
					<a href="{% url 'add_doctor' %}">Add a New Doctor</a>
				</li>
			</ul>
		</li>
		<li class="{% if current_page == "prescriptions" or current_page == "view_prescription" or current_page == "add_prescription" or current_page == "edit_prescription" %} active {% endif %}">
			<a href="#prescriptionsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-prescription-bottle"></i>Prescriptions</a>
			<ul class="collapse list-unstyled" id="prescriptionsSubmenu">
				<li>
					<a href="{% url 'prescriptions' %}">Prescriptions List</a>
				</li>
				<li>
					<a href="{% url 'add_prescription' %}">Add a New Prescription</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#reportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-flask"></i>Reports</a>
			<ul class="collapse list-unstyled" id="reportsSubmenu">
				<li>
					<a href="{% url 'reports' %}">Reports List</a>
				</li>
				<li>
					<a href="{% url 'add_report' %}">Add a New Report</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#patientsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-bed"></i>Patients</a>
			<ul class="collapse list-unstyled" id="patientsSubmenu">
				<li>
					<a href="{% url 'patients' %}">Patients List</a>
				</li>
				<li>
					<a href="{% url 'add_patient' %}">Add a New Patient</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Contact</a>
		</li>
	</ul>
</nav>