<nav id="sidebar">
			<div class="container">
				<div class="row">
					<div class="col-9 sidebar-header">
				 		<h3>Clinicare</h3>
					</div>
					<div class="col sidebar-header sidebar-toggle">
						<i class="fa-solid fa-chevron-left"></i>
					</div>
				</div>
			</div>
	<ul class="list-unstyled components">
		<p>Welcome back, {{ request.user.first_name }}!</p>
{#        <img class="img-fluid ml-1 mb" src="{{ request.user.photo.url }}" style="max-width: 40px; max-height: 40px;">#}
		<li class="{% if current_page == "home" %} active {% endif %}">

			<a href="{%url 'panel:dashboard'%}"><i class="fa-solid fa-gauge"></i>Dashboard</a>
		</li>
		<li class="{% if current_page == "messaging" %} active {% endif %}">

			<a href="{%url 'panel:messaging'%}"><i class="fa fa-message"></i>Messages</a>
		</li>
		<li class="{% if current_page == "doctors" or current_page == "view_doctor" or current_page == "add_doctor" or current_page == "edit_doctor" %} active {% endif %}">
			<a href="#doctorsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-user-doctor"></i>Doctors</a>
			<ul class="collapse list-unstyled" id="doctorsSubmenu">
				<li>
					<a href="{% url 'panel:doctors' %}">Doctors List</a>
				</li>
				<li>
					<a href="{% url 'panel:add_doctor' %}">Add a New Doctor</a>
				</li>
			</ul>
		</li>
		<li class="{% if current_page == "prescriptions" or current_page == "view_prescription" or current_page == "add_prescription" or current_page == "edit_prescription" %} active {% endif %}">
			<a href="#prescriptionsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-prescription-bottle"></i>Prescriptions</a>
			<ul class="collapse list-unstyled" id="prescriptionsSubmenu">
				<li>
					<a href="{% url 'panel:prescriptions' %}">Prescriptions List</a>
				</li>
				<li>
					<a href="{% url 'panel:add_prescription' %}">Add a New Prescription</a>
				</li>
			</ul>
		</li>
		<li class="{% if current_page == "reports" or current_page == "view_report" or current_page == "add_report" or current_page == "edit_report" %} active {% endif %}">
			<a href="#reportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-flask"></i>Reports</a>
			<ul class="collapse list-unstyled" id="reportsSubmenu">
				<li>
					<a href="{% url 'panel:reports' %}">Reports List</a>
				</li>
				<li>
					<a href="{% url 'panel:add_report' %}">Add a New Report</a>
				</li>
			</ul>
		</li>
		<li class="{% if current_page == "patients" or current_page == "view_patient" or current_page == "add_patient" or current_page == "edit_patient" %} active {% endif %}">

			<a href="#patientsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-bed"></i>Patients</a>
			<ul class="collapse list-unstyled" id="patientsSubmenu">
				<li>
					<a href="{% url 'panel:patients' %}">Patients List</a>
				</li>
				<li>
					<a href="{% url 'panel:add_patient' %}">Add a New Patient</a>
				</li>
			</ul>
		</li>
		<li class="{% if current_page == "products" or current_page == "view_product" or current_page == "add_product" or current_page == "edit_product" %} active {% endif %}">
			<a href="#productsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-shop"></i>Products</a>
			<ul class="collapse list-unstyled" id="productsSubmenu">
				<li>
					<a href="{% url 'panel:products' %}">Products List</a>
				</li>
				<li>
					<a href="{% url 'panel:add_product' %}">Add a New Product</a>
				</li>
				<li>
					<a href="#">My Purchases</a>
				</li>
			</ul>
		</li>
		<li class="{% if current_page == "appointments" or current_page == "view_appointment" or current_page == "add_appointment" or current_page == "edit_appointment" %} active {% endif %}">
			<a href="#appointmentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-calendar-check"></i>Appointments</a>
			<ul class="collapse list-unstyled" id="appointmentsSubmenu">
				<li>
					<a href="{% url 'panel:appointments' %}">Appointment List</a>
				</li>
				<li>
					<a href="{% url 'panel:add_appointment' %}">Book a New Appointment</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#postsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-comment"></i>Blog Posts</a>
			<ul class="collapse list-unstyled" id="postsSubmenu">
				<li>
					<a href="{% url 'blog:posts' %}">Post List</a>
				</li>
				<li>
					<a href="{% url 'blog:add_post' %}">New Post</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>